* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
  }

  /*HEADER*/
header{
    background-color: skyblue;
    min-height: 100px;
    display: flex;
}

.navbar > *{
    flex-basis: 20%;
    padding: 10px;
}

.navbar {
    display: flex;
    background-color: yellow;
    min-width: 50rem;
    height: 40px;
    justify-content: space-evenly;
    border: 2px dashed;
    margin-top: 5%;
}

.navbar-button{
    text-align: right;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    margin-right: 2px;
}

/*PRIMO BLOCCO*/

.first-block-container{
    background-color: darkblue;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-block-content{
    background-color: purple;
    width: 600px;
    height: 200px;
    display: flex;
    border:2px dashed;
}